body {
    background-color: white;
    text-align: center;
    color: white;
    font-family: 'Quicksand', sans-serif;
}

ul {
    color: black;
    list-style: none;
}
li {
    width: 454px;
    margin-bottom: 10px;
    text-align: right;
}

button {
    background-color: #68c3a3;
    border: 1px solid rgb(33, 126, 74);
    color: white;
    padding: 3px;
    font-weight: 300;
    transition: 0.5s;

    &:hover {
        background-color: darken(#68c3a3, $amount: 10);
        cursor: pointer;
        color: rgb(245, 242, 70);
        background-color: #4caf50; /* Green */
        color: white;
    }
}

.title {
    background-color: #68c3a3;
}

.todo {
    max-width: 600px;
    margin: 0 auto;

    &__form {
        background-color: #be820a;
        padding: 10px;
    }
}
